@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yeison Andres Culma Gomez<br />
    Bogota, Colombia<br />
    <abbr title="Phone">P:</abbr>
    +57 3168537448
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Culma100@gmail.com">Culma100@gmail.com</a><br />
</address>