@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prueba Codere</h1>
    <p class="lead">Prueba realizada como prueba tecnica para la empresa de Codere.</p>
    <p><a href="https://www.codere.com.co/" class="btn btn-primary btn-lg">Conocer mas de Codere &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Informacion Creacion</h2>
        <p>
            Este es un Crud creado con C# En Microsoft Visual Studio 2022<br>
            Ademas se uso Entity FrameWork<br>
            La base de datos es con SqlServer
        </p>
       </div>
    <div class="col-md-4">
        <h2>Informacion Creador</h2>
        <p>Yeison Andres Culma Gomez.</p>
        <p>⬇⬇⬇Repositorio Git⬇⬇⬇</p>
        <p><a class="btn btn-default" href="https://github.com/Weidmann16">Acceder a Reposiorio &raquo;</a></p>
    </div>
</div>